body {
  margin: 0;
  padding: 0;
}

h2 {
  font-style: italic;
}

.container-card {
  border: 2px solid black;
  display: flex;
}

.new-card-section {
  background: white;
  border-radius: 20px;
  box-shadow: 0.1px 4px 19px rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  margin: 5px 15%;
  padding: 10px;
}

.container-preview-card {
  align-items: center;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  width: 600px;
}

.card {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 400px;
}

form {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-right: 100px;
  width: 600px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
